/*-----------------------------------------------------------------------------------

	variables.less

-----------------------------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Base Colors
-----------------------------------------------------------------*/

@theme-color:										#2196F3;
@alt-color:											#999;
@body-color:										#333;
@heading-color:										#333;

@divider-color:										#E0E0E0;
@content-bg:										#FFFFFF;

@background1-color:									#FAFAFA;
@background2-color:									#F5F5F5;
@background3-color:									#E0E0E0;
@body-bg-color:										#ffffff;


/* ----------------------------------------------------------------
	Dark Base Colors
-----------------------------------------------------------------*/

@dark-bg:											#000000;
@dark-font-color:									#ffffff;
@dark-link-color:									#EEEEEE;
@dark-link-hover-color:								#1E8EF6;


/* ----------------------------------------------------------------
	Notify Me Price Alerts
-----------------------------------------------------------------*/

@notifyme-dashboard-bg:								@body-bg-color; //@body-bg-color;
@notifyme-dashboard-font-color:						@body-color;
@notifyme-dashboard-link-color:						@link-color;
@notifyme-dashboard-link-hover-color:				@link-color-hover;
@notifyme-dashboard-close-color:					@theme-color;
@notifyme-dashboard-priceValue-font-size:			@font-size-h4;
@notifyme-dashboard-priceLabel-font-size:			15px;
@notifyme-dashboard-tab-font-size:					@font-size-base;

@notifyme-dashboard-form-submit-margin:				30px 0 0 0;

@notifyme-dashboard-arrow-color:					@theme-color;
@notifyme-dashboard-price-alert-color:				#228826; // green

@notifyme-alertBox-border:							@theme-color;
@notifyme-alertBox-bg:								@theme-color;
@notifyme-alertBox-font:							@theme-color;
@notifyme-alertBox-close:							@theme-color;
@notifyme-alertBox-border-radius:					5px;

@notifyme-toolbar-bg:								#222;
@notifyme-toolbar-height:							50px;
@notifyme-toolbar-amount-size:						22px;
@notifyme-toolbar-amount-color:						@theme-color;
@notifyme-toolbar-amount-hover-color:				#ffffff;
@notifyme-toolbar-font-color:						#ffffff;
@notifyme-toolbar-font-size:						16px;
@notifyme-toolbar-font-weight:						@font-weight-normal;
@notifyme-toolbar-font-top:							2px;
@notifyme-toolbar-hover-color:						#ffffff;
@notifyme-toolbar-bg-hover:							@theme-color;
@notifyme-toolbar-divider:							fade(@notifyme-toolbar-font-color, 15%);
@notifyme-toolbar-border:							none; //1px solid @divider-color;

@notifyme-toolbar-navLeft-padding:					0 20px;

@notifyme-toolbar-loggedIn-line-height:				14px;
@notifyme-toolbar-loggedIn-line-top:				-5px;

@notifyme-toolbar-userEmail-font-size:				10px;
@notifyme-toolbar-userEmail-line-height:			11px;
@notifyme-toolbar-userEmail-top:					-10px;
@notifyme-toolbar-userEmail-icon-top:				-4px;

@notifyme-toolbar-toggle-bg:						@theme-color;
@notifyme-toolbar-toggle-font-size:					18px;
@notifyme-toolbar-toggle-font-color:				#ffffff;


/* ----------------------------------------------------------------
	Line Height Variables
-----------------------------------------------------------------*/

@line-height-base:      							1.5;
@line-height-content:								1.8;


/* ----------------------------------------------------------------
	Margins
-----------------------------------------------------------------*/

@margin-base:										50px;
@margin-xsmall:             			  			10px;
@margin-small:          			      			30px;
@margin-big:            			       			80px;


/* ----------------------------------------------------------------
	Font Families
-----------------------------------------------------------------*/

@body-font:                     					'Roboto', helvetica, arial, sans-serif;
@heading-font:                  					'Roboto', helvetica, arial, sans-serif;
@secondary-font:                					'Roboto', helvetica, arial, sans-serif;


/* ----------------------------------------------------------------
	Font Sizes
-----------------------------------------------------------------*/

@font-size-base:          							16px;
@font-size-large:         							ceil((@font-size-base * 1.25)); // ~18px
@font-size-small:         							ceil((@font-size-base * 0.65)); // ~12px

@font-size-h1:           							floor((@font-size-base * 1.8)); // ~36px
@font-size-h2:           							floor((@font-size-base * 1.5)); // ~30px
@font-size-h3:     		       						ceil((@font-size-base * 1.2)); // ~24px
@font-size-h4:     			    					ceil((@font-size-base * 1.05)); // ~18px
@font-size-h5:     			    					@font-size-base;
@font-size-h6:     			    					ceil((@font-size-base * 0.85)); // ~12px

@font-weight-bold:									700;
@font-weight-normal:								400;

@heading-weight:									600;
@heading-font-spacing:								0;
@heading-text-transform:							none;
				
@header-block-margin:								0 0 20px 0;
@header-block-line-margin:							15px;

@fancy-title-bg:									@content-bg;

@title-border-length:								50%;

@promo-subtitle-color:								#666;

/* ----------------------------------------------------------------
	Links
-----------------------------------------------------------------*/

@link-color:										@theme-color;
@link-color-hover:									@body-color;

/* ----------------------------------------------------------------
	Layouts
-----------------------------------------------------------------*/

@postcontent:                   					860px;
@postcontent-margin:            					40px;

@sidebar:                       					1140px - (@postcontent + @postcontent-margin);
@bothsidebar:                   					1140px - ( ( @sidebar * 2 ) + ( @postcontent-margin * 2 ) );


@postcontent-md:									690px;
@postcontent-margin-md:								40px;

@sidebar-md:										940px - (@postcontent-md + @postcontent-margin-md);
@bothsidebar-md:									940px - ( ( @sidebar-md * 2 ) + ( @postcontent-margin-md * 2 ) );


@section-padding:									60px;
@section-margin:									60px;
@section-bg:										@background1-color;


/* ----------------------------------------------------------------
	Header Bars
-----------------------------------------------------------------*/

@header-address-font-color:							@body-font;
@header-address-font-size:							15px;
@header-address-font-weight:						@font-weight-normal;
@header-address-link:								@link-color;
@header-address-link-hover:							@link-color-hover;
@header-address-padding:							0 0 0 0;

@header-map-font-size:								@header-address-font-size;
@header-map-font-weight:							@font-weight-bold;
@header-map-link:									@header-address-link;
@header-map-link-hover:								@header-address-link-hover;

@header-phone-font-color: 							@body-font;
@header-phone-font-size:							15px;
@header-phone-line-height:							@topbar-height;
@header-phone-margin:								0 6px;
@header-phone-divider-color:						#414141;
@header-phone-divider-visibility:					none;
@header-phone-label-font-size:						@header-phone-font-size;
@header-phone-label-font-weight:					@font-weight-bold;

@topbar-bg-color:									@background1-color;

@topbar-gradient:									false;
@topbar-gradient-origin:							top;
@topbar-background-color-start:						#000000;
@topbar-background-color-end:						#353535;
@topbar-height:                 					38px;
@topbar-line-height:            					@topbar-height;

@topbar-font-color: 								@body-color;
@topbar-font-size: 									12px;

@topbar-button-height:								30px;
@topbar-button-width:								100%;
@topbar-button-line-height:							@topbar-button-height;
@topbar-button-pos:									4px;
@topbar-button-font-size:							13px;
@topbar-button-radius:								@border-radius;
@topbar-button-color:								@button-font-color;
@topbar-button-bg:									@button-bg-color;
@topbar-button-border:								@button-border;		
@topbar-button-border-hover:						@button-border-hover;		
@topbar-button-bg-hover:							@button-bg-hover-color;		
@topbar-button-color-hover:							@button-font-hover-color;
@topbar-button-icon-margin:							0 0 0 0;

@topbar-input-background:							#ffffff;
@topbar-input-font-color:							@body-color;
@topbar-input-font-size:							14px;
@topbar-input-padding:								0px 10px;
@topbar-input-height:								30px;
@topbar-input-border:								1px solid @divider-color;
@topbar-input-icon-pos:								-4px;
@topbar-input-icon-size:							20px;
@topbar-input-margin:								4px 0 0 0;

@topbar-nav-link-color:								#000000;
@topbar-nav-link-color-hover:						#CF0000;

@topbar-link-color:									#ffffff;
@topbar-link-color-hover:							#ffffff;


/* ----------------------------------------------------------------
	Bottom Bar
-----------------------------------------------------------------*/

@bottombar-gradient:								false;
@bottombar-gradient-origin:							right;
@bottombar-background-color-start:					#ffffff;
@bottombar-background-color-end:					#e5e8e7;
@bottombar-background-color:						@background1-color;
@bottombar-height:    								auto;
@bottombar-line-height:            					38px;

@bottombar-font-color: 								@body-font;
@bottombar-font-size: 								15px;

@mobile-bar-height:									36px;
@mobile-bar-line-height:							34px;
@mobile-bar-bg:										@theme-color;
@mobile-bar-font-size:								13px;
@mobile-bar-font-color:								#ffffff;

@mobile-header-toggle-bg:							@content-bg;

@mobile-header-section-bg:							@header-bg-color;
@mobile-header-section-font-color:					@header-font-color;

/* ----------------------------------------------------------------
	Header
-----------------------------------------------------------------*/

@header-animations:									true;
@header-height:         			     			100px;
@header-font-color:									#333333;
@header-bg-color:       							#ffffff;
@header-border-top:									none;
@header-border-bottom:								none;

@header-has-top-border:								false;
@header-has-bottom-border:							false;

@heading-logo-margin:								0;
@heading-logo-position:								left; // left / right
@heading-logo-img-margin:							0 25px 0 0;
@heading-logo-font-family:							@body-font;
@heading-logo-font-size:							20px;
@heading-logo-font-weight:							600;
@heading-logo-font-color:							@heading-font;
@heading-logo-text-transform:						none;


// Overlay Logo Header
@heading-logo-height:								45px;
@heading-logo-margin-lg:							0 0 0 140px;
@heading-logo-margin-sm:							0 0 0 0;

@mobile-header-logo-position:						left;
@mobile-header-logo-margin:							0 0 0 30px;


// Header Style 4
@header-style4-logo-padding-top:					20px;
@header-style4-logo-padding-bottom:					20px;
@header-style4-logo-padding-left:					20px;
@header-style4-logo-padding-right:					0px;
@tablet-header-style4-font-size:					18px;
@mobile-header-style4-logo-padding-top:				15px;
@mobile-header-style4-logo-padding-bottom:			10px;


// Small Desktop Header
@small-desktop-header-height:   					100px;


// Sticky Header
@sticky-header-height:          					50px;
@sticky-header-bg-color:							#ffffff;


// Floating Header Offset
@header-floating-offset:        					50px;


// Side Header
@side-header-width:             					260px;
@side-header-bg:                					#ffffff;


// Mobile Header
@mobile-heading-logo-font-size:						14px;
@mobile-header-height:								70px;
@mobile-header-left-font-size:						14px;
@mobile-header-center-font-size:					14px;
@mobile-header-center-padding:						0 0 10px 0;
@mobile-header-center-logo-width:					60%;


// Header Extras
@header-extras-font-size:							14px;
@header-extras-span-font-size:						16px;
@header-extras-span-color:							@theme-color;
@header-extras-span-font-weight:					600;
@header-extras-link-color:							@link-color;
@header-extras-link-color-hover:					@link-color-hover;
@header-extras-link-weight:							600;


// Overlay Logo
@overlay-logo-height:								140px;

/* ----------------------------------------------------------------
	Primary Menu
-----------------------------------------------------------------*/

@primary-menu-background:          					@theme-color;
@primary-menu-border:								none;
@primary-menu-font:             					@body-font;
@primary-menu-font-weight:      					@font-weight-bold;
@primary-menu-font-size:        					16px;
@primary-menu-font-tt:          					none;
@primary-menu-active-color:							#fff;
@primary-menu-font-color:       					#fff;
@primary-menu-font-color-hover:   					#eee;
@primary-menu-font-color-current:  					#fff;
@primary-menu-font-spacing:     					0px;

@primary-menu-padding:								0 12px;
@primary-menu-position:								right; // left / right / none
@primary-menu-width:								auto;
@primary-menu-margin:								0;

// Small Desktop Menu
@primary-menu-small-desktop-padding:				0 7px;
@primary-menu-small-desktop-font-size:        		14px;

@primary-menu-height:								@sticky-header-height;
@primary-menu-divider:								none; // block / none
@pirmary-menu-divider-color:						#E7E7E7;
@primary-menu-divider-width:						1px;

// Primary Menu Sub Menu
@primary-menu-submenu-width:        		  		auto;
@primary-menu-submenu-font:             			@primary-menu-font;
@primary-menu-submenu-font-size:        			14px;
@primary-menu-submenu-font-weight:      			@primary-menu-font-weight;
@primary-menu-submenu-font-color: 					@body-color;
@primary-menu-submenu-font-color-hover:				#fff;
@primary-menu-submenu-padding:						0 15px;
@primary-menu-submenu-bg:							#fff;
@primary-menu-submenu-bg-hover:						@theme-color; // lighten(@primary-menu-background, 5%);
@primary-menu-submenu-border-radius:				5px;
@primary-menu-submenu-height:						20px;
@primary-menu-submenu-box-shadow:					0px 5px 5px rgba(0, 0, 0, 0.1);

// Primary Mega menu
@mega-menu-title:               					@body-font;

// Overlay Logo Primary Menu
@overlay-logo-menu-padding:							0 0 0 140px;

/* ----------------------------------------------------------------
	Side Panel Menu
-----------------------------------------------------------------*/
@side-panel-menu-background:						@primary-menu-background;

@side-panel-menu-height:							40px;
@side-panel-menu-font:             					@primary-menu-font;
@side-panel-menu-font-weight:      					100;
@side-panel-menu-font-size:        					15px;
@side-panel-menu-font-tt:          					uppercase;
@side-panel-menu-font-color:       					@primary-menu-font-color;
@side-panel-menu-font-color-hover:   				@primary-menu-font-color-hover;
@side-panel-menu-font-color-current:  				@primary-menu-font-color-current;
@side-panel-menu-font-spacing:     					@primary-menu-font-spacing;
@side-panel-menu-border-color:     					@divider-color;

@side-panel-menu-padding:							0 7px;
@side-panel-menu-position:							right;


// Sub Menu
@side-panel-menu-submenu-width:         	   		auto;
@side-panel-menu-submenu-font:          	  		@body-font;
@side-panel-menu-submenu-font-size:     	  		16px;
@side-panel-menu-submenu-font-weight:   	  		@primary-menu-font-weight;
@side-panel-menu-submenu-font-color:				#ffffff;
@side-panel-menu-submenu-padding:					0 15px;
@side-panel-menu-submenu-transform:					none;

@side-panel-wrap:									50px 50px 50px 20px;
@side-panel-bg:										@primary-menu-background;


/* ----------------------------------------------------------------
	Top Search
-----------------------------------------------------------------*/

@top-search-form-input:								#000000;
@top-search-form-font:								@body-font;
@top-search-form-letter-spacing:					0px;
@top-search-icon-pos:								right; // left / right

@top-search-dropdown-bg:							#ffffff;
@top-search-dropdown-font-color:					@top-search-form-input;
@top-search-dropdown-border-color:  				@divider-color;

/* ----------------------------------------------------------------
	Menu Triggers
-----------------------------------------------------------------*/

@top-mobile-map-color:								#222427;
@top-mobile-map-size: 								22px;

@top-mobile-phone-color:							#222427;
@top-mobile-phone-size:								22px;

@top-search-color:									#222427;
@top-search-size:									20px;

@primary-menu-trigger-color:						@body-color;
@primary-menu-trigger-size:							18px;
@primary-menu-trigger-height:						30px;
@primary-menu-trigger-width:						30px;

@page-submenu-trigger-color:						#CFCFCF;

@side-panel-trigger-close-color:					#CFCFCF;

@primary-menu-trigger-gradient:						true; // true or false
@primary-menu-trigger-gradient-origin:				top;
@primary-menu-trigger-background-color-start:		transparent;
@primary-menu-trigger-background-color-end:			transparent;
@primary-menu-trigger-background-color:				#fff;
@primary-menu-trigger-border:						none; //1px solid #000000;
@primary-menu-trigger-border-radius:				0;

/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/

@footer-font-size:									11px;
@footer-font-color:									@body-color;
@footer-bg:											@background1-color;

@footer-widgets-padding:							60px 0 0 0;

@copyright-padding:									15px 0 60px 0;
@copyright-bg:										@background1-color;
@copyright-font-color:								@body-color;
@copyright-link-color:								@body-color;
@copyright-link-hover-color:						@theme-color;
@copyright-text-align:								center;

@ebiz-terms-padding:								10px 0;

@pag-footer-bg:										#fafafa;


/* ----------------------------------------------------------------
	Page Title
-----------------------------------------------------------------*/

@page-title-padding:								30px 0px;
@page-title-parallax-padding:						100px;
@page-title-mini-padding:							20px;

@page-title-bg:										@background1-color;
@page-title-bg-dark:								#333;
@page-title-divider-color:							@divider-color;

@page-title-color:									@heading-color;
@page-title-font-size:								28px;
@page-title-font-family:							@secondary-font;
@page-title-font-weight:							@font-weight-bold;
@page-title-letter-spacing:							0px;
@page-title-subtitle-size:							20px;
@page-title-subtitle-color:							#777777;
@page-title-subtitle-weight:						@font-weight-normal;

@page-title-mini-size:								18px;

@page-title-breadcrumb-top:							-20px;

/* ----------------------------------------------------------------
	Form Elements
-----------------------------------------------------------------*/

@form-element-border-active:						@theme-color;
@form-element-border-color:							@divider-color;
@form-element-border-width:							1px;
@form-element-border-top-style:						solid; // solid or none;
@form-element-border-left-style:					solid;
@form-element-border-bottom-style:					solid;
@form-element-border-right-style:					solid;
@form-element-border-radius:						5px;
@form-element-background:							#fff;
@form-element-height:								40px;
@form-element-padding:								4px 10px;
@form-element-padding-small:						4px 10px;
@form-element-font-size:							16px;
@form-element-font-color:							@body-color;
@form-label-note:									#AAAAAA;

@form-label-font-size:								16px;
@form-label-font-color:								@body-color;

@form-icon-color:									@divider-color;
@form-icon-color-hover:								@divider-color;

@form-select-arrow-size:							30px;
@form-select-arrow-top:								-2px;

@form-toggle-border-radius:							20px;
@form-toggle-checked-radius:						50%;  


/* ----------------------------------------------------------------
	Scroll To Top
-----------------------------------------------------------------*/

@go-to-top-hover:									@alt-color;
@go-to-top-border-radius:							0px;
@go-to-top-pos-right:								6px;


/* ----------------------------------------------------------------
	Buttons
-----------------------------------------------------------------*/

@border-radius:										3px;
@button-border:										1px solid @button-bg-color;
@button-border-hover:								1px solid @button-bg-hover-color;

@button-height:										40px;
@button-line-height:								@button-height;
@button-transform:									capitalize;

@button-padding:									0 40px;
@button-bg-color:									@theme-color;
@button-bg-hover-color:								darken(@theme-color, 10%);
@button-font-family:								@heading-font;
@button-font-size:									14px;
@button-font-color:									#ffffff;
@button-font-hover-color:							#ffffff;
@button-font-weight:								600;

@button-gradient:									false; // true/false
@button-gradient-origin:							bottom;

@button-bg-start-color:								#000000;
@button-bg-end-color:								#000000;
@button-bg-start-hover-color:						#434c53;
@button-bg-end-hover-color:							#434c53;

@button-alt-border:									1px solid @button-alt-bg-color;
@button-alt-border-hover:							1px solid @button-alt-bg-hover-color;

@button-alt-gradient:								false; // true/false
@button-alt-bg-start-color:							#d5d9d8;
@button-alt-bg-end-color:							#d5d9d8;
@button-alt-bg-start-hover-color:					#434c53;
@button-alt-bg-end-hover-color:						#434c53;

@button-alt-bg-color:								@alt-color;
@button-alt-bg-hover-color:							@body-color;
@button-alt-font-color:								#fff;
@button-alt-font-hover-color:						#fff;

@uggo-gradient-origin:								top;
@uggo-bg-start-color:								darken(@theme-color, 13%);
@uggo-bg-center-color:								@theme-color;
@uggo-bg-end-color:									darken(@theme-color, 13%);
@uggo-bg-start-hover-color:							darken(@theme-color, 24%);
@uggo-bg-center-hover-color:						darken(@theme-color, 8%);
@uggo-bg-end-hover-color:							darken(@theme-color, 24%);
@uggo-border-color:									@theme-color;

@uggo-font-color:									#ffffff;
@uggo-font-color-hover:								#ffffff;



/* ----------------------------------------------------------------
	Button Desc.
-----------------------------------------------------------------*/

@button-desc-font-size:								20px;
@button-desc-font-family:							@heading-font;

@button-desc-span-font-size:						14px;
@button-desc-span-font-weight:						300;
@button-desc-span-letter-spacing:					0px;
@button-desc-span-font-family:						@heading-font;
@button-desc-span-font-style:						normal;




/* ----------------------------------------------------------------
	Portfolio
-----------------------------------------------------------------*/

//Columns Margin
@portfolio-2-margin:            					20px;
@portfolio-3-margin:    							15px;
@portfolio-4-margin:            					12px;
@portfolio-5-margin:            					10px;
@portfolio-6-margin:            					6px;

//Columns Margin for Sidebar
@portfolio-2-margin-sb:         					20px;
@portfolio-3-margin-sb:         					15px;
@portfolio-4-margin-sb:         					12px;
@portfolio-5-margin-sb: 							0;

//Columns Margin for Both Sidebar
@portfolio-2-margin-bs:         					20px;
@portfolio-3-margin-bs:         					11px;
@portfolio-4-margin-bs:         					0;


/* ----------------------------------------------------------------
	Home Page Slideshow
-----------------------------------------------------------------*/

@homepage-slideshow-gradient:						false;
@homepage-slideshow-gradient-origin:				top;
@homepage-slideshow-bg-color-start:					#000000;
@homepage-slideshow-bg-color-end:					#000000;
@homepage-slideshow-bg:								transparent;
@homepage-slideshow-max-width:						100%;

@homepage-slideshow-btn-bg:							@theme-color;
@homepage-slideshow-btn-border:						none; //1px solid #000000;
@homepage-slideshow-btn-bg-hover:					darken(@theme-color, 10%);
@homepage-slideshow-btn-bg-hover-opacity:			1;
@homepage-slideshow-btn-border-hover: 				none;
@homepage-slideshow-btn-arrow-size:					30px;
@homepage-slideshow-arrow-color:					#ffffff;
@homepage-slideshow-arrow-color-hover:				#ffffff;
@homepage-slideshow-btn-width:						60px;
@homepage-slideshow-btn-height:						60px;

@homepage-slideshow-btn-prev-pos:					0px;
@homepage-slideshow-btn-prev-radius-tl:				0px;
@homepage-slideshow-btn-prev-radius-tr:				3px;
@homepage-slideshow-btn-prev-radius-bl:				0px;
@homepage-slideshow-btn-prev-radius-br:				3px;
@homepage-slideshow-icon-prev-pos:					0 0 0 0;

@homepage-slideshow-btn-next-pos:					0px;
@homepage-slideshow-btn-next-radius-tl:				3px;
@homepage-slideshow-btn-next-radius-tr:				0px;
@homepage-slideshow-btn-next-radius-bl:				3px;
@homepage-slideshow-btn-next-radius-br:				0px;
@homepage-slideshow-icon-next-pos:					0 0 0 0;






@slider-btn-bg:										rgba(0,0,0,.2);
@slider-btn-bg-hover:								rgba(0,0,0,.5);
@slider-btn-height: 								90px;
@slider-btn-width: 									50px;
@slider-btn-next-radius:							0; // 0px 0px 0px 0px
@slider-btn-prev-radius:							0; // 0px 0px 0px 0px
@slider-arrow-color:								#ffffff;
@slider-arrow-color-hover:							#000;


@slider-flex-btn-prev-icon-pos:						0px;
@slider-flex-btn-next-icon-pos:						0px;

@carousel-btn-font-size:							22px;
@carousel-btn-color:								#ffffff;
@carousel-btn-hover-color:							#ffffff;
@carousel-btn-border: 								none; // 1px solid rgba(0,0,0,0.2);
@carousel-btn-bg-color:								@theme-color; // #d5d9d8 or rgba(213,217,216,1);
@carousel-btn-bg-hover-color:						@theme-color;
@carousel-btn-height:								36px;
@carousel-btn-width:								36px;
@carousel-btn-border-radius:						0; // 0 0 0 50%;
@carousel-btn-left-pos:								-36px;
@carousel-btn-right-pos:							-36px;



@pager-position:									relative; // absolute / relative
@pager-position-bottom:								0;

@pager-gradient:									false;
@pager-gradient-origin:								top;
@pager-bg-color-start:								#000;
@pager-bg-color-end:								#000;

@pager-bg-color-start-hover:						#ffffff;
@pager-bg-color-end-hover:							#ffffff;

@pager-bg-color-start-active:						#ffffff;
@pager-bg-color-end-active:							#ffffff;

@pager-dot-color:									#aaaaaa;
@pager-dot-color-hover:								#666666;
@pager-dot-color-active:							@theme-color;


@pager-dot-border:									1px solid #ffffff;
@pager-dot-padding:									1px;

@pager-dot-height:									12px;
@pager-dot-width:									12px;
@pager-dot-radius:									50%;

/* ----------------------------------------------------------------
	Controls
-----------------------------------------------------------------*/

@quick-browse-bg:									#ffffff;
@get-directions-bg:									#f2f2f2;
@map-1-bg:											@content-bg;

@max-width:											1550px;
@featured-vehicles-bg:								@background1-color;
@featured-vehicles-scrollbar-bg:					#ffffff;
@featured-vehicles-scrollbar-drag:					@theme-color;

/* ----------------------------------------------------------------
	Social Media Icons
-----------------------------------------------------------------*/

@si-theme-color:									#3E4146;
@si-theme-color-font-color:							#ffffff;
@si-theme-color-font-hover-color:					#ffffff;

/* ----------------------------------------------------------------
	VDP Slideshow Arrows
-----------------------------------------------------------------*/

@vdp-arrow-color:									@theme-color;


/* ----------------------------------------------------------------
	Modals
-----------------------------------------------------------------*/

@modal-bg:											@content-bg;
@modal-border:										none;
@modal-border-radius:								10px;
@modal-box-shadow:									0 5px 30px rgba(0,0,0,.2);

@modal-header-padding:								15px;
@modal-header-bg-start:								transparent;
@modal-header-bg-end:								transparent;
@modal-header-border-bottom:						1px solid @divider-color;
@modal-header-title-color:							@theme-color;
@modal-header-bg-origin:							top;

/* ----------------------------------------------------------------
	SRP
-----------------------------------------------------------------*/

@current-search-border-radius:						5px;

@vehicle-row-hover:									@background1-color;

@srp-filter-label-bg:								#666766;
@srp-filter-lable-border-radius:					0px;
@srp-filter-label-color:							#ffffff;
@srp-filter-label-width:							auto;// px / auto
@srp-filter-label-text-align:						center;

@popover-border-radius:								5px;
@popover-title-border-radius:						4px 4px 0px 0px;

@cross-promotion-background:						@background1-color;
@cross-promotion-font-color:						#000;
@cross-promotion-padding:							15px 0;

/* ----------------------------------------------------------------
	Tabs
-----------------------------------------------------------------*/

@tabs-border-radius-top-left:						5px;
@tabs-border-radius-top-right:						5px;
@tabs-border-radius-bottom-right:					0px;
@tabs-border-radius-bottom-left:					0px;

@tab-bg-color:										@content-bg;
@tab-bg-active-color:								@content-bg;
@tabs-active-color:									@theme-color;

/* ----------------------------------------------------------------
	Video Player
-----------------------------------------------------------------*/

// Settings
@plyr-border-box:                       true;
@plyr-touch-action:                     true;
@plyr-sr-only-important:                true;

// Colors
@plyr-color-main:                       @theme-color;

// Font
@plyr-font-family:                      Helvetica, Arial, sans-serif;
@plyr-font-size-small:                  14px;
@plyr-font-size-base:                   16px;

// Captions
@plyr-captions-bg:                      fade(#000, 70%);
@plyr-captions-color:                   #fff;
@plyr-font-size-captions-base:          @plyr-font-size-base;
@plyr-font-size-captions-medium:        ceil(@plyr-font-size-base * 1.5);
@plyr-font-size-captions-large:         (@plyr-font-size-base * 2);

// Controls
@plyr-control-icon-size:                18px;
@plyr-control-spacing:                  10px;
@plyr-control-padding:                  (@plyr-control-spacing * .7);
@plyr-video-controls-bg:                #000;
@plyr-video-control-color:              #fff;
@plyr-video-control-color-hover:        #fff;
@plyr-video-control-bg-hover:           @plyr-color-main;
@plyr-audio-controls-bg:                #fff;
@plyr-audio-controls-border:            1px solid #dbe3e8;
@plyr-audio-control-color:              #565D64;
@plyr-audio-control-color-hover:        #fff;
@plyr-audio-control-bg-hover:           @plyr-color-main;

// Tooltips
@plyr-tooltip-bg:                       fade(#000, 70%);
@plyr-tooltip-color:                    #fff;
@plyr-tooltip-padding:                  (@plyr-control-spacing / 2);
@plyr-tooltip-arrow-size:               4px;
@plyr-tooltip-radius:                   3px;

// Progress
@plyr-progress-loading-size:            25px;
@plyr-progress-loading-bg:              fade(#000, 15%);
@plyr-video-progress-bg:                fade(#fff, 25%);
@plyr-video-progress-buffered-bg:       @plyr-video-progress-bg;
@plyr-audio-progress-bg:                fade(#C6D6DB, 66%);
@plyr-audio-progress-buffered-bg:       @plyr-audio-progress-bg;

// Range sliders
@plyr-range-track-height:               8px;
@plyr-range-thumb-height:               floor(@plyr-range-track-height * 2);
@plyr-range-thumb-width:                floor(@plyr-range-track-height * 2);
@plyr-range-thumb-bg:                   #fff;
@plyr-range-thumb-border:               2px solid transparent;
@plyr-range-thumb-shadow:               0 1px 1px fade(@plyr-video-controls-bg, 15%), 0 0 0 1px fade(#000, 15%);
@plyr-range-thumb-active-border-color:  #fff;
@plyr-range-thumb-active-bg:            @plyr-video-control-bg-hover;
@plyr-range-thumb-active-scale:         1.25;
@plyr-video-range-track-bg:             @plyr-video-progress-buffered-bg;
@plyr-audio-range-track-bg:             @plyr-audio-progress-buffered-bg;
@plyr-range-selected-bg:                @plyr-color-main;

// Breakpoints
@plyr-bp-screen-sm:                     479px;
@plyr-bp-screen-md:                     768px;
